html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #ffe500;
  margin-bottom: 1em;
  padding-bottom: .4em;
}

h1 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 3rem;
}

.paragraph {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  padding-top: .5em;
}

.index {
  margin-bottom: 0;
}

ul li a {
  display: inline-block;
  padding: .2em .5em .3em;
  background-color: #b2a212;
  border-radius: 4px;
}

p {
  color: #2f2d13;
}

.text {
  padding-bottom: .7em;
}

main h2 {
  color: #b20953;
  font-size: 1.875rem;
}

main {
  margin: .4em;
  padding: 0;
}

nav {
  text-align: center;
  padding: 0;
  font-size: 1.125rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

li {
  display: inline-block;
}

a {
  text-decoration-line: none;
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
}

a:hover {
  background-color: #cc1465;
}

h2 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  font-size: 1.75rem;
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

.current {
  background-color: #b20953;
}

.second {
  margin-top: 0;
  padding: .4em 0 .6em;
}

footer {
  text-align: center;
  background-color: #ffe500;
  padding: .2em;
  font-size: .75rem;
}
